

h1 {
	
	color:pink;
	font-size: 58px;


}

.new-todo {

 	font-size:30pt;
     height:70px;
     width:600px;

}

.todoapp {

	text-align: center;

}


button {
    background-color: red;
    border: 5px;
    padding: 5px 7px;
    margin: 4px 2px;
}


.todoapp {list-style:none}